body{
    background-color: orange;
}
.HeadingPage{
    color: white;
    font-size: 80px;
    margin-top: 50px;
    margin-left: 50px;

}
.PageArticle{
    color: white;
    font-size: 20px;
}
.FirstParagraph{
    margin-top: 80px;
    margin-left: 50px;
}
.FirstLink{
    color: black;
}
.SecondParagraph{
    margin-top: 80px;
    margin-left: 50px;
}
.Secondlink{
    color: black;
}
.BigText{
    font-size: 30px;
}
.FirstFoto{
    margin-top: 30px;
    margin-left: 50px;
    width: 600px;
}